.frame{
    position:fixed;
    top:194px;
    left:0;
    right: 0;
    bottom:0;
}
.header{
    position: relative;
}
.header th{
    position: relative;
    padding:7px 9px 7px 9px;
    font-weight: 100;
    color: #666;
    border-left: 1px solid #eee;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}
.header th p{
	display: inline-block;
	line-height: 18px;
}
.header th:first-child{
    border-left: none;
}
.tableList{
    position:absolute;;
    left:0;
    top:51px;
    right:0;
    bottom:0;
}
.rows td{
	padding:11px 4px 11px 4px;
	line-height:16px;
    vertical-align: middle;
}
.rows td p{
	line-height:18px
}
.star{
    display: inline-block;
    width:13px;
    height: 12px;
    background: url("./images/work/home/investadvice/star.png") no-repeat;
    background-size:12px;
}

.icon_sort{
	position: absolute;
	right:3px;
	top:18px;
	background:url(./images/work/home/ico_sort.png) no-repeat left;
	background-size:10px 14px;
	width:10px;
	height:14px;
}
.icon_sort.asc{
    background-image: url(./images/work/home/ico_sort_rise.png);
}
.icon_sort.desc{
    background-image: url(./images/work/home/ico_sort_decline.png);
}
.productItem{
    display: block;
    margin-bottom:5px;
    line-height: 1;
}
