.hotnews_bot_btns{
	height:50px;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	border-top:1px solid #eee;
	background:#fff;
}
.bot_btn_left{
	width:49%;
	float:left;
	text-align:center
}
.bot_btn_left span{
	line-height:50px;
    background: url(./images/work/home/icon_edit.png) no-repeat left 50%;
    background-size: 24px;
    padding-left: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.bot_btn_mid{
	width:1%;
	height:100%;
	float:left;
	border-left:1px solid #eee;
}
.bot_btn_right{
	width:49%;
	float:right;
}
.bot_btn_right{
	width:49%;
	float:right;
	text-align:center
}
.bot_btn_right span{
	line-height:50px;
    background: url(./images/work/home/icon_delete2.png) no-repeat left 50%;
    background-size: 24px;
    padding-left: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item{
	background-color: #fff;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 0 15px 5px;
}

.attendance_user{
	position: absolute;
    left: 10px;
	background:url(./images/work/home/icon_location02.png) no-repeat 50% 10px;
	background-size:21px;
	padding-top:40px;
}
.attendance_user img{
	width:42px;
	height:42px;
	background-color: #ddd;
	border-radius:50%;
}
.attendance_intr{
	margin-left: 15px;
    padding: 10px 0 12px 26px;
}
.attendance_intr h2{
	font-size:.28rem;
	font-weight:100;
	margin-bottom:10px;
}
.attendance_intr p{
	line-height:21px;
	overflow:hidden
}
.attendance_intr p.c6{
	font-size:13px;
}
.attendance_intr p img{
	max-width:23%;
	margin-left:1%;
	float:left;
	margin-bottom:8px;
}
.visit_cust{
	padding-bottom:4px;
	line-height:22px;
	color:#666;
}
.visit_cust span{
	margin-right:20px
}
.visit_cust i{
	float:left;
	width:14px;
	height:14px;
	background:url(./images/work/home/icon_cust.png) no-repeat 50% 50% #fff;
	background-size:12px;
	border-radius:50%;
	padding:4px;
	margin-right:8px;
}
.ml5{
	margin-left: 7px;
}
.visitor{
	margin:0 2px;
    font-size: 13px;
}

.atten_innerbox{
	border-radius:6px;
	background-color:#f2f2f2;
	padding:15px 15px 10px 15px;
	margin-top:15px;
	position:relative
}
.atten_innerbox_top{
	width:20px;
	height:20px;
	position:absolute;
	left:5%;
	top:-21px;
	z-index: 2;/*兼容ie8-*/
}
.top_arrow1,.top_arrow2{
	width:0;
	height:0;
	display:block;
	position:absolute;
	left:0;
	top:0;
	z-index: 5;/*兼容ie8-*/
	border-top:10px transparent dashed;
	border-left:10px transparent dashed;
	border-right:10px transparent dashed;
	border-bottom:10px white solid;
	overflow:hidden;
}
.top_arrow2{
	top:1px;/*重要*/
	border-bottom:10px #f2f2f2 solid;
}
.content{
	margin-top: 10px;
	margin-bottom: 10px;
}
