.signbtn{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:1.28rem;
	background:#fff;
}
.signbtn a{
	margin-top:0.2rem;
	margin-left:0.3rem;
	margin-right:0.3rem;
	display:block;
	height:0.88rem;
	background:#2f6bb1;
	line-height:0.88rem;
	text-align:center;
	font-size:0.36rem;
	border-radius:0.1rem;
	color:#fff;
}