/*王者荣耀样式*/
.wzrybox {
    width: 100%;
    margin-top: 44px;
}
.wzry_show_first {
    width: 100%;
    background: url(./images/work/home/wzry/wzrybg01.jpg) no-repeat;
    background-size: 100%;
}

.wzry_rule img{
	width:100%;
    display:block
}
.wzry_frame{
    position:fixed;
    left:0;
    right:0;
    bottom: 0;
    top:64px;

}
.frame{
    position:fixed;
    left:0;
    right:0;
    top:64px;
	bottom:0;

}
.gaodu{
	height: 2814px;
}