.nobg {
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    width: 80%;
    margin-top: 40%;
}
.pp_top{
	height:44px;
	text-align:center;
	color:#fff;
	font-size:16px;
	line-height:44px;
	border-radius:13px 13px 0 0;
	background-color:#3492e9;
}
.text_password{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    height: 44px;
    display: block;
    line-height: 44px;
    margin-top: 30px;
    font-size: 14px;
    padding-left: 10px;
	color:#999;
}
.pp_btns{
    width:85%;
	padding-bottom:30px;
	margin: 30px auto 0;
    font-size: 16px;
    text-align: center;
}
.err{
  margin-top:5px;
	margin-left:25px;
}
.pp_btns a{
	display:inline-block;
	width:44%;
	height:38px;
	line-height:38px;
	text-align:center;
	border:1px solid #ddd;
	border-radius:10px;
    margin: 0 2%;
}
.btn_pp_ok{
	color:#3492e9;
	border:1px solid #3492e9 !important;
}
