
.approve_content{
    margin-bottom:57px;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling : touch;
}

.approve_title{
    position: relative;
    background-color:#FFFFFF;
    margin-top:64px;
    padding:15px 15px 11px 15px;
    overflow:hidden;
}

.approve_title_left{
    float:left;
}

.approve_detail{
    position: relative;
	padding-bottom:15px;
	margin:0 15px;
	border-radius: 5px;
	background-color:#f5f5f5;
}

.approve_padding{
  	padding-bottom:10px;
}
.approve_font_strong{
  	font-size:15px;
}


.approve_detail_padding{
	padding:15px 0 0 10px;
}
.approve_detail_text{
	text-indent:25px;
	padding:12px 10px 0 10px;
	line-height: 18px;
}
.approve_reason_title{
	padding: 20px 15px 11px 15px;
}
.approve_reason_input{
	padding: 5px 0px 20px 0px;
}

.approve_reason_enter{
	width:96%;
	border-radius: 5px;
  padding: 5px 0px 20px 0px;
	color:#333;
}

.approve_icon_pass{
	background:url(./images/work/todo/done_pass.png) no-repeat center ;
	background-size:100%;
	float:right;
	width:56px;
	height:56px;
}
.approve_icon_fail{
	background:url(./images/work/todo/done_fail.png) no-repeat center ;
	background-size:100%;
	float:right;
	width:56px;
	height:56px;
}

.approve_pass{
  color:#fff;
  background-color: #3492E9;
  height:100%;
  font-size: 16px;
  border-left:none;
  display:block;
  float:left;
  text-align:center;
  line-height:48px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  boder-left:1px solid #ddd;

}

.approve_reject{
  border-left:none;
  display:block;
  height:100%;
  font-size: 16px;
  float:left;
  text-align:center;
  line-height:48px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  boder-left:1px solid #ddd;

}

.btnlist {
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background: #3492e9;
    display: block;
    border-radius: 0.06rem;
}

.statusIcon{
    float: right;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.statusIcon.succ{
    background-image: url(./images/work/todo/done_pass.png)
}
.statusIcon.fail{
    background-image: url(./images/work/todo/done_fail.png);
}

.field{
    margin-left:.2rem;
}

/*iphone5等小屏幕兼容*/
@media only screen and (max-width:320px){
  .time{
      top: 172px;
  }
}
