.frame{
    position:fixed;
    top:167px;
    left:0;
    right: 0;
    bottom:0;
}

.header th{
    padding: 10px 0 10px 9px;
    font-weight: 100;
    color: #666;
    border-left: 1px solid #eee;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    width: 25%;
}
.header th:first-child{
    border-left: none;
}

.tableList{
    position:absolute;;
    left:0;
    top:35px;
    right:0;
    bottom:0;
}

.rows td{
	padding:11px 9px 11px 9px;
	line-height:16px;
	vertical-align: middle;
    width: 25%;
}
.rows td p{
	line-height:18px
}
