.red {
	color: #ff5555;
}
.white{
	color:#fff
}
.green{
	color:#37a11b
}
.blue{
	color: #46a7ee;
}
.purple{
	color: #9c76c7;
}
.orange{
	color: #ff9b5a;
}
.c9 {
	color:#666;
}
.c6{
	color:#666
}
.blue{
	color: #3492e9;
}
