.frame{
    position:fixed;
    left:0;
    right:0;
    top:139px;
    /*top:180px;*/
    bottom:0px;
}
.tableList{
    position: absolute;
    left: 0;
    top: 54px;
    right: 0;
    bottom: 0;
}
.boderleftno{
	border-left:none
}
