/*电子名片-选择营业部*/
.pop_up{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
}
.ecard_box{
    background: #fff;
    border-radius: 15px;
    width: 90%;
    margin-top: -76%;
    top: 50%;
    margin-left: -45%;
    left: 50%;
    position: absolute;
}
.choose_top{
	height:50px;
	line-height:50px;
	margin:0 15px 0;
	border-bottom:1px solid #eee;
    margin-bottom: 10px;
}
.choose_top span{
	font-size:16px;
}
.choose_search{
	margin:10px 15px;
	height:34px;
	border-radius:5px;
	position:relative;
	border:1px solid #eee;
}
.choose_search:focus,.choose_search:hover{
	border:1px solid #3492e9
}
.choose_search input[type=text]{
    position: absolute;
    left:0;
    padding-left: 15px;
    height: 34px;
    line-height: 34px;
    color: #999;
    border: none;
    width: 65%;
    background: none;
    font-family: Microsoft Yahei, tahoma, arial, 宋体;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.choose_search input[type=button]{
    position: absolute;
    right: 10px;
    width: 20px;
    margin-top: -10px;
    height: 20px;
    border: none;
    background: url(./images/work/me/searchico03.png) no-repeat;
    background-size: 20px;
    top: 50%;
}
.choose_list ul{
    padding: 0 15px 0 15px;
    max-height: 410px;
    overflow-y: scroll;
}
@media screen and (max-width: 320px) {
	.choose_list ul{
		max-height: 325px;
	}
}
.choose_list ul li{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background:#f8f8f8;
	border:1px solid #f8f8f8;
	border-radius:5px;
	margin-bottom:5px;
	padding:10px;
}
.choose_list ul li.on{
	background:#f4faff;
	border:1px solid #3492e9;
}
.choose_list ul li.on span{
	color:#3492e9;
}
.choose_btn{
	height:40px;
	line-height:40px;
	text-align:center;
	margin-top:10px;
	border-top:1px solid #eee;
}
.choose_btn.on{
	border-radius:0 0 13px 13px;
	background:#3492e9;
	border-top:1px solid #3492e9;
}
.choose_btn.on span{
	color:#fff;
}
.height_auto{
	height:auto
}
