.box{
    padding:0 10px 0 5px;
    margin-bottom:15px;
}
.box.left{
    text-align: left;
}
.box.center{
    text-align: center;
}
.box.right{
    text-align: right;
}
.box .checkbox{
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: 5px;
    background:url(/assets/images/common/form/check.png);
    background-size: 18px;
}
.box .checkbox.checked{
    background:url(/assets/images/common/form/check_on.png);
    background-size: 18px;
}
.box span{
    vertical-align: middle;
}
