.touch{
	background-color: #eee;
}
.noData{
	line-height: 30px;
	font-size:14px;
	text-align: center;
	margin-bottom:20px;
}
.rank_num{
	background-color:#f15a4a;
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	border-radius:15px;
	padding:2px 5px;
	float:left;
	font-size:12px;
	margin-right:4px;
	margin-left:10px;
	font-style:normal
}
.single_rank span{
	float:left;
	margin-left:5px;
}
.rank_account{
	color:#666;
	font-size:12px
}
.single_rank{
	padding:10px 0;
	border-top:1px solid #eee
}
.single_rank span.c6{
}
.rank_tit{
	padding-bottom:8px;
	overflow:hidden;
}
.rank_detail{
	clear:both;
	border:1px solid #eee;
	overflow:hidden;
	border-radius:10px;
	margin:0 10px;
	font-size:14px;
}
.rd_tit{
	border-right:1px solid #eee;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	color:#666
}
.rd_dt{
	padding:10px 0
}
.detailCont{
	padding:8px 0;
	margin-left: 38px;
    border-left: 1px solid #eee;
}
.detailCont p{
	display: inline-block;
	margin-right:15px;
	line-height: 18px;
}
.detailCont p:after{
	content:"";
	display: block;
	clear:both;
}
.rank_type{
	border:1px solid #f15a4a;
	color:#ff5555;
	border-radius:15px;
	padding:1px 4px;
	float:right;
	margin-right:10px;
	font-size:12px;
	margin-left:5px;
	font-style:normal
}
.rank_type.c6{
	border:1px solid #666;
	color:#666
}
.opening{
	background:url(./images/work/home/bg_opening.png) no-repeat;
	background-size:100%;
	height:82px;
	padding-top:18px;
}
.opening p{
	padding-left:33%;
	line-height:24px;
}
.opening p.font18{
	font-size:18px;
}
.data_empty{
	background:url(./images/work/home/bg_empty.png) no-repeat;
	background-size:100%;
}
.data_empty p{
	padding-left:33%;
}
.data_empty p.c6{
	color:#666;
}
.single_rank .net_inflow{
	float: right;
	margin-right:10px
}
.fr{
	float: right;
}
/*iphone5等小屏幕兼容*/
@media only screen and (max-width:320px){
	.rank_deal {
		clear:both;
		margin-top:5px;
		margin-left: 55px !important;
	}
	.deal_num{
		margin-top:5px;
	}
}
